{% extends "base.html" %}

{% block content %}
<div class="split-container">
    <div class="left-side"></div>
    <div class="right-side">
            
                <h1>Comparative Analysis of Machine Learning 
                    Methods for Multi-Label Skin Cancer 
                    Classification
                </h1>

                <p>Skin cancer is one of the most common and 
                    dangerous diseases due to a lack of awareness of its signs and 
                    methods for prevention. Skin cancer disease can be counted as 
                    a fourth burden disease around the world, with the rate of 
                    deaths dramatically growing globally. Therefore, early 
                    detection at an early stage is necessary to stop the spread of 
                    cancer. In this paper, we detect and classify multi-label skin 
                    cancer and implement the optimal techniques using machine 
                    learning and image processing approaches. However, 
                    preprocessing methods assist in removing irrelevant and 
                    unnecessary features from the label encoder, and standard 
                    features are applied to standardize the range of functionality 
                    by scaling the input variance unit. Moreover, various machine 
                    learning techniques were applied to check the performance of 
                    every classifier on the HAM10000_metadata dataset. The 
                    experimental analysis was conducted on the 
                    HAM10000_metadata dataset, which consists of seven different 
                    types of skin cancer. The results analysis shows that machine 
                    learning algorithms such as SVM, DT, and GNB obtained the 
                    highest accuracy compared to the other classifiers

                </p>           
            
    </div>
</div>


{% endblock %}
